.log
  display: grid
  grid-template-columns: 200px 1fr 1fr 4fr
  padding: 20px
  font-size: 18px
  border-bottom: 2px solid var(--divider)
  &.log_columns-names
    font-size: 20px
    color: var(--divider)
    padding: 10px 20px
  &_fw900
    font-weight: 900
